<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/images/StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="override">
        <a asp-controller="Home" asp-action="Index" class="btns right">Home</a>
        <a asp-controller="ShoppingCart" asp-action="Index" class="btns">Shopping Cart</a>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
