@model PumpedUpKicks.Models.ViewModels.LoginViewModel
@{ 
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" alt="Email" placeholder="Email"/>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" alt="Password" placeholder="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Submit</button>
</form>