@{ 
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}

<div class="homeDiv">
    <h1 class="mainHeader">Welcome To Pumped Up Kicks</h1>
    <img class="mainImage" src="~/images/homepage.jpeg"/>
</div>