@using Microsoft.AspNetCore.Identity
@using PumpedUpKicks.Models;

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}

@if (SignInManager.IsSignedIn(User))
{
    <div id="lower-header">
        <p class="logo">P.U.K</p>
        <p class="welcome">You are logged in as <span class="userName">@User.Claims.First(name => name.Type == "FullName").Value</span></p>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button class="signupbtn space" type="submit">Logout</button>
        </form>
    </div>
    <div class="underImage">
        <img src="~/images/nikes.jpg" />
    </div>
}
else
{
    <div id="lower-header">
        <p class="logo">P.U.K</p>
        <p class="welcome-two">Welcome to pumped up kicks login or register to begin</p>
        <div class="signinicons">
            <a class="signupbtn" href="@Url.Action("Login", "Account")">Login</a>
            <a class="signupbtn" href="@Url.Action("Register", "Account")">Register</a>
        </div>
    </div>
    <div class="underImage">
        <img src="~/images/nikes.jpg"/>
    </div>
}
