body {
    margin: 0 auto;
    background-color: #F5F5F5;
    font-family: 'Allerta Stencil', sans-serif;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    color: black;
}

header h2 {
    color: white;
    font-size: 60px;
    text-shadow:
        -2px -2px 0 #000,
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px 2px 0 #000
}

.signinicons {
    display: flex;
    justify-content: space-around;
    width: 22%;
}

.signupbtn {
    border: none;
    color: burlywood;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    border: 2px solid double;
}

.signupbtn:hover {
    background-color: burlywood;
    color: white;
}

.mainLogo {
    text-decoration: none;
    color: white;
}

.mainImage {
    width: 500px;
    height: 500px;
}

.homeDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    align-items: center;
}

.mainHeader {
    font-size: 40px;
}

.userName {
    color: #40E0D0;
}

#shopImage {
    width: 200px;
    height: 150px;
}

#lower-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
}

.nomargin {
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    margin-left: 40px;
    font-size: 30px;
    color: burlywood;
}

.welcome {
    margin-right: 20px;
    color: white;
}

.welcome-two {
    color: white;
}

.atags {
    margin-right: 20px;
}

.atags a {
    text-decoration: none;
    color: black;
}

.atags a:hover {
    color: white;
}

.shipping {
    margin-left: 20px;
}

.shopcart {
    margin-right: 10px;
}

.underImage {
    width: 100%;
}

.underImage img {
    width: 100%;
}

.space {
    margin-right: 20px;
}

.btns {
    text-decoration: none;
    color:  black;
}

.override {
    justify-content: flex-start;
}

.right {
    margin-right: 10px;
    margin-left: 10px;
}

.shopTable {
    width: 80%;
    margin: 0 auto;
}

.tableName {
    width: 130px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

#form-css {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: burlywood;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

.details {
    display: flex;
    width: 30%;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    background-color: burlywood;
}

.details img {
    border-radius: 5px;
    border: 1px solid white;
}

.mbtns {
    background-color: black;
    border: none;
    color: red;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
}

.cart-btn{
    font-size: 15px;
}

.par {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.deets {
    text-decoration: none;
    color: red;
}

.deets-img {
    width: 302px;
    height: 212px;
}

.empty-cart {
    text-align: center;
}

.empty-cart p {
    font-size: 30px;
    margin-top: 50px;
}

.empty-cart a {
    text-decoration: none;
    color: red;
}

tbody a {
    text-decoration: none;
    color: red;
}

.addItem {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.addItem a {
    text-decoration: none;
    color: red;
}

.cart-view {
    text-align: center;
}

.edit-product { 
    text-align: center;
    border: 2px solid burlywood;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px; 
    background-color: black;
    color: burlywood;
}

.edit-product a {
    text-decoration: none;
    color: red;
}

.edit-product input {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

input.color {
    background-color: burlywood;
    font-size: 14px;
    color: white;
}

.sizeOfShoes {
    width: 302px;
    height: 212px;
}