@model PumpedUpKicks.Models.ShoppingCartItem

@{ 
    ViewData["Title"] = "Edit";
}

<div class="edit-product">
    <h2>Edit Product</h2>
    <p>Current Quantity: @Model.Quantity</p>
    <form asp-action="edit">
        <input type="hidden" asp-for="ProductId" />
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <input type="submit" value="Save" class="btn btn-default color" />
    </form>
    <a asp-action="Index">Back to Cart</a>
</div>