@using PumpedUpKicks.Models;
@model dynamic
@{
    int count =0;
}

<h3>Cart Page</h3>
@if (Model.list.Count > 0)
{
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>

        @foreach (var item in Model.list)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@Model.product[count].Name</td>
                <td>@item.Quantity</td>
            </tr>
            count++;
        }
    </table>
}

@if (Model.list.Count <= 0)
{
    <p>No Shopping Cart Item</p>
}
<br>